<% include ../views/partials/header%>
    <div class="grid">
        
    
    <h1><%= title %></h1>
    <p>Please login with instagram</p>
    <a href="/login" class="btn btn-priamry">Login with instagram</a>
    </div>
 <% include ../views/partials/footer%>
