body {
  background: #f4f4f4;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.redbox,
.bluebox,
.greenbox {
  padding: 10px 5px;
  border: #ccc solid 1px;
  text-align: center;
}

.redbox {
  background: red;
  color: #fff
}

.bluebox {
  background: blue;
  color: #fff
}

img {
  width: 100px;
  border: 1px solid #ccc;
  padding: 4px;
  border-radius: 15px;
}


.greenbox {
  background: green;
  color: #fff;
}